.skillCard{
    background-color: #2a2e35;
    border-radius: 20px;
    height: 300px;
    width: 100%;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.pBar{
    justify-content: center;
    align-items: center;
}



.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
  }
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #b2becd;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    border-color: #f44336!important; 
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    color: #4bf318;
    position: absolute;
    top: 0;
    left: 0;
  }





  ul.buttonList li button{
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    text-shadow:paleturquoise;
    border: none;
    color: #b2becd;
}

ul.buttonList li{
  display: inline;
}


#btn{
  border-radius: 5px; 
  padding: .5rem 2rem;
  background-color: inherit;
  border: 2px solid #fa8142;
  font-family: inherit;
  font-size: inherit;
  font-weight: 200;
  transition: all 0.4s cubic-bezier(1,-0.16,.6,1.35);
}


#btn:hover{
  background-color: #fa8142;
  color: white;
  font-weight: 400!important;
  cursor: pointer;
}

#btn:active, #btn:focus{ 
  outline: none;
  border: none;
}