.skillCard{
    background-color: rgb(225, 150, 235);
    border-radius: 20px;
    height: 300px;
    width: 100%;
    box-shadow: 0 15px 60px rgba(56, 1, 58, 0.5);
}

.pBar{
    justify-content: center;
    align-items: center;
}



.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
  }
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }





  ul.buttonList li button{
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    text-shadow:paleturquoise;
    border: none;
    color: rgb(0, 0, 0);
}

ul.buttonList li{
  display: inline;
}


#btn{
  padding: .5rem 2rem;
  background-color: rgb(153, 174, 233);
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  transition: all 0.4s cubic-bezier(1,-0.16,.6,1.35);
}


#btn:hover{
  background-color: #037FFf;
  cursor: pointer;
}

#btn:active, #btn:focus{
  outline: none;
  border: none;
}