@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
div#root {
  display: inline-flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-around;
  align-items: center;
  width: 100% !important;
}
.App{
  overflow: hidden;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
  background-color:whitesmoke;
  /* width: 100%;
  height: 100%; */
  display: flex;
  /* background-image: linear-gradient(180deg, #a9c9ff 0%, #bbc3ff 100%); */
  /* body { */
    
    /* animation-fill-mode: forwards;
} */

}

/* .animate{
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
} */

.navbar{
    /* background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%); */

  background-color:#03a9f429;
  /* box-shadow: 0 10px 30px -10px var(--navy-shadow); */
  backdrop-filter: blur(20px);
  border-radius: 20px;
  /* margin-top: 1px; */
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 1px;
  padding-right: 1px;

  height: 10%;

  font-weight: 700;
  font-size: large;
  float: inline-start;
  width: -moz-available;
  size: 10%;
}




/* .navContainer{
  padding: 4px;
  margin: 1px;

} */

.navContainer { 
  top: 0;
  right: 0;
  left: 0;
  z-index: 1110;
  padding: 4px;
  margin: 1px;
  padding-top:0px;
  /* animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1; */
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.nav-item{
  
  margin-right: 1px;
  margin-left:2px
}

.nav-item a{
  color: #3f00ff;
  text-decoration:wavy;
  background-color: transparent;
}
.navbar-nav{
  padding-left: 15px !important;
}

.navbar{
  -webkit-box-shadow: 0 12px 18px -6px rgb(7, 85, 148);
     -moz-box-shadow: 0 12px 18px -6px rgb(7, 85, 148);
          box-shadow: 0 12px 18px -6px rgb(7, 85, 148);
}



.fontStyle{
  font-weight: 800;
  color: antiquewhite;
}

.descFont{
  font-weight: normal;
  font-size: large;
  color: whitesmoke;
}

.card{
  border: none;
  box-shadow: 2px;
}
.imgBody{
}


/* project card */






/* 
section {
  position: relative;
}

section img {
	position: absolute;
} */

.top {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	/* animation-direction: alternate; */
}

@keyframes fade {
	0% {
		opacity:1;
	}
  15% {
		opacity:1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
  85% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}



/* underline text style */

.style_para{
  font-size: 1.5rem;
  color: black;
  padding: 2px 0px 1px;
  background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
  transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
  background-size: 140% 210%;
  background-position: 0px 0px;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  transition: color 0.3s;
}
.style_para:after,.style_para:before {
 content: '';
 display: block;
 position: absolute;
 left: -0.125em;
 right: -0.125em;
 z-index: -1;
}
.style_para:before {
 background-color: rgba(0, 0, 0, 0.9);
 bottom: -0.0625em;
 height: 1px;
}
.style_para:after {
 background-color: #00ff0059;
 animation: linkUnderlineOut 0.3s forwards;
 top: 0;
 bottom: 0;
 height: 100%;
 transform-origin: bottom left;
 transform: scaleY(0);
}
.style_para:hover {
 color: rgb(0, 0, 0);
}
.style_para:hover:before {
 background-color: #00ff0059;
}
.style_para:hover:after {
 animation: linkUnderlineIn 0.3s forwards;
}
@keyframes linkUnderlineIn {
 0% {
   transform: scaleY(0);
}
 50% {
   transform: scaleY(1.1);
}
 63% {
   transform: scaleY(0.9);
}
 88% {
   transform: scaleY(1.05);
}
 100% {
   transform: scaleY(1);
}
}
@keyframes linkUnderlineOut {
 0% {
   transform: scaleY(1);
}
 100% {
   transform: scaleY(0);
}
}
