.navbar{
  background-color:rgb(203, 233, 233);
  border-radius: 20px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 1px;
  padding-right: 1px;

  height: 10%;

  font-weight: 700;
  font-size: large;
  float: inline-start;
  
  size: 10%;
}

.navContainer{
  padding: 4px;
  margin: 1px;

}


.nav-item{
  
  margin-right: 1px;
  margin-left:2px
}
.navbar-nav{
  padding-left: 15px !important;
}

.navbar{
  -webkit-box-shadow: 0 12px 18px -6px rgb(7, 85, 148);
     -moz-box-shadow: 0 12px 18px -6px rgb(7, 85, 148);
          box-shadow: 0 12px 18px -6px rgb(7, 85, 148);
}



.fontStyle{
  font-weight: 800;
}

.descFont{
  font-weight: normal;
  font-size: large;
}

.card{
  border: none;
  box-shadow: 2px;
}
.imgBody{
}